/*跑馬燈----------------*/


.marqee {
 height: 3em;
 overflow: hidden; 
 position: relative;
 margin-top: 0px;
}
 
.marqee > ul {
 padding-left: 0;
 display: flex;
 list-style-type: none;
 animation: marqee 15s linear 3;
 position: absolute;
}
 
.marqee  ul  li {
 white-space: nowrap;
 margin-right: 2em;
 font-weight: bold;
 color: #000000;
}
 
@keyframes marqee {
 0% {
  left: 100%;
  transform: translateX(0%);
 }
 
 100% {
  left: 0;
  transform: translateX(-100%);
 }
}

